// GLOBAL ENV
PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=1Bz9ZjnYlbAp9R_Q3kF6XD961GfKTaQF

// DATABASE ENV
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

VM_SCRIPT_PATH=./../../vms/create_vms.sh